.container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  
  .container header {
    margin: 10px 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container header img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-right: 10px;
  }
  
  .container header div {
    display: flex;
    align-items: center;
  }

  .container strong{
    color: #ABABAB;
  }
  

  .container button {
    width: 40%;
    padding: 10px;
  
    font-weight: 600;
  
    background: #B83B25;
    color: #fff;
  
    border-radius: 5px;
    border: none;
  
    cursor: pointer;
    margin-right: 7px;
    transition: filter 0.2s;
  
    font-size: 16px;
  }
  
  .container button:hover {
    filter: brightness(0.9);
  }